In [ ]:
print('# 이후는 주석')
print('string: "python"')
print("number: 1 5 3.14")
print("string: 'python'")

# 이후는 주석
string: "python"
number: 1 5 3.14
string: 'python'

In [ ]:
print('계산금액')
print(78000)
print('오만 원권')
print(78000 // 50000)
78000 % 50000
print('만 원권')
print( _ // 10000)
_ % 10000
print('오천원권')
print( _ // 5000 + 1)
print('잔돈')
print(5000 - _ % 5000)
print(5000 - (78000 % 50000) % 10000 % 5000)

계산금액
78000
오만 원권
1
만 원권

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [ ]:
print(1, 2, -5, 3.14, 2.71828)
print('Hi,', 'Python!')

print('23000원은', '5000원 ?개', '1000원 ?개')
print('5000원', 23000 // 5000, '개')
print('1000원', (23000 % 5000) // 1000, '개')

1 2 -5 3.14 2.71828
Hi, Python!
23000원은 5000원 ?개 1000원 ?개
5000원 4 개
1000원 3 개

In [ ]:
celsius = 37
fahrenhite = celsius * 9/5 + 32 #화씨로 변환
print('섭씨: ', celsius, ',', '화씨: ', fahrenhite)
celsius += 3 # 3도 증가
fahrenhite = celsius * 9/5 + 32 #화씨로 변환
print('섭씨: ', celsius, ',', '화씨: ', fahrenhite)

섭씨:  37 , 화씨:  98.6
섭씨:  40 , 화씨:  104.0

In [ ]:
distance = 384400
unit = 10000
manUnit, remainder = divmod(distance, unit)
print('지구에서 달까지의 거리:', manUnit, '만', remainder, '킬로미터')

지구에서 달까지의 거리: 38 만 4400 킬로미터

In [ ]:
int('python') #일반 글자
int('6400i') #정수에 문자 i가 포함
float('3.141592f') #실수에 문자 f가 포함
int('2.71828') #정수가 아닌 실수 형태
int('0b11') #10진수만 형태만 가능
int(float('2.71828')) #정상적으로 2 반환

ValueError: invalid literal for int() with base 10: 'python'

In [ ]:
planet = input('원하는 행성은? ')
strRadius = input(planet + ' 반지름은? ')
radius = int(strRadius)
length = 2 * 3.14 * radius
print(planet, '반지름:', radius)
print(planet, '둘레 길이:', length)

원하는 행성은? 지구
지구 반지름은? 6400
지구 반지름: 6400
지구 둘레 길이: 40192.0

In [ ]:
invar = input('16진수 정수 입력 >> ')
data = int(invar, 16) #입력 문자열을 16진수로 인지하여 변환
#여러 진수로 출력
print('2진수:', bin(data))
print('8진수:', oct(data))
print('10진수:', data)
print('16진수:', hex(data))

16진수 정수 입력 >> 0x1c
2진수: 0b11100
8진수: 0o34
10진수: 28
16진수: 0x1c

In [ ]:
num1 = float(input('첫 번째 수 입력 >> '))
num2 = float(input('두 번째 수 입력 >> '))
print('합:', num1 + num2)
print('차:', num1 - num2)
print('곱하기:', num1 * num2)
print('나누기:', num1 / num2)

expression = input('연산식 입력(예 3.2 + 4 * 1.5) >> ')
print('연산식:', expression, '결과:', eval(expression))

첫 번째 수 입력 >> 10.0
두 번째 수 입력 >> 2.5
합: 12.5
차: 7.5
곱하기: 25.0
나누기: 4.0
연산식 입력(예 3.2 + 4 * 1.5) >> 30//4
연산식: 30//4 결과: 7

In [ ]:
#진수와 그에 맞는 정수를 입력 받아 2진수, 8진수, 10진수, 16진수 출력
base = int(input('입력할 정수의 진수(base)는? '))
invar = input(str(base) + '진수 정수 입력 >> ')
data = int(invar, base) #입력 문자열을 base 진수로 변환
#여러 진수로 출력
print('2진수:', bin(data))
print('8진수:', oct(data))
print('10진수:', data)
print('16진수:', hex(data))

입력할 정수의 진수(base)는? 16
16진수 정수 입력 >> 1f
2진수: 0b11111
8진수: 0o37
10진수: 31
16진수: 0x1f

In [ ]:
str = 'Monty Python'
print(len(str))
print(str[0:5], str[6:], str[6:12])
print(str[-12:-7], str[-6:], str[-6:0])

12
Monty Python Python
Monty Python

In [ ]:
value = input('실수(3자리.2자리로 345.78처럼)를 하나 입력하세요. >> ')
#value = '345.34'
num = value.replace('.', '')

sum = 0
sum += int(num[0])
sum += int(num[1])
sum += int(num[2])
sum += int(num[3])
sum += int(num[4])
print('입력 값:', value)
print('모든 자릿수 합:', sum)

실수(3자리.2자리로 345.78처럼)를 하나 입력하세요. >> 345.67
입력 값: 345.67
모든 자릿수 합: 25

In [ ]:
m, n, x, y = input('4개의 수 입력 >> ').split()
a, b, c, d = float(m), float(n), float(x), float(y)
print('입력 값: ', a, b, c, d)
sum = a + b + c + d
print('합: ', sum, '평균: ', sum / 4)
print('최대: ', max(a, b, c, d), '최소: ', min(a, b, c, d))

4개의 수 입력 >> 3.7 5.8 9 2.5
입력 값:  3.7 5.8 9.0 2.5
합:  21.0 평균:  5.25
최대:  9.0 최소:  2.5

In [ ]:
a=input("문자열 1:")
b=input("문자열 2:")
print(a,b)

문자열 1:python
문자열 2:언어
python 언어

In [ ]:
a=input('차의 속도를 입력(km)')
km_1=1/1.61
print(a+'(km)은', str(135*km_1),'마일(miles)이다.')

차의 속도를 입력(km)135
135(km)은 83.85093167701862 마일(miles)이다.

In [ ]:
am=3500
a=input('아메리카노 몇 개 주문하세요?')
print('총 가격은 '+str(am*int(a)),'이다')

아메리카노 몇 개 주문하세요?7
총 가격은 24500 이다

In [ ]:
a=input('알려진 지구 둘레: ')
b=input('지구와 같은 원둘레: ')
print('차이: '+str(int(a)-float(b))+'(km)')

알려진 지구 둘레: 40120
지구와 같은 원둘레: 40074.77587040001
차이: 45.22412959999201(km)

In [ ]:
C=input('온도 입력 ')
F=int(C)*9/5+32
print('정확 계산: 섭씨: '+C+' , 화씨: '+str(F))
f=int(C)*2+30
print('약식 계산: 섭씨: '+C+' , 화씨: '+str(f))
d=F-f
print('차이: '+str(d))

온도 입력 38
정확 계산: 섭씨: 38 , 화씨: 100.4
약식 계산: 섭씨: 38 , 화씨: 106
차이: -5.599999999999994

In [ ]:
a=input('Enter First number:')
b=input('Enter Second number:')
print(int(a)/int(b))
print(int(a)%int(b))
print(int(a)//int(b))
print(int(a)**int(b))

Enter First number:12
Enter Second number:5
2.4
2
2
248832

In [ ]:
a=input('네 자리 정수 입력 ')
print(a[3]+a[2]+a[1]+a[0])

네 자리 정수 입력 5432
2345